# Gradle
.gradle/
build/

# Kotlin/Java
out/
*.class
*.jar
*.war
*.ear

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
/.idea_modules/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Kotlin DSL cache
.gradle/kotlin-dsl/

# Other
/local.properties
gradle.properties
